image:
  repository: classpathio/order-microservice
  tag: "latest"
  pullPolicy: IfNotPresent
  pullSecrets: []      # e.g. ["docker-credentials"]

replicaCount: 2

# Pod runtime
containerPort: 8222     # matches your config file (server.port)
env:
  SPRING_PROFILES_ACTIVE: dev
  SERVER_PORT: "8222"   # keep consistent with containerPort
  SPRING_DATASOURCE_URL: jdbc:h2:mem:testdb

# Secrets: choose ONE of the two options below
secrets:
  db:
    create: true
    name: db-credentials
    username: "sa"
    password: "welcome"   # use externalSecret or CI injection in real envs


config:
  profiles:
    dev:
      enabled: true
      name: application-dev.yaml
      content: |-
        app:
          orderCount: 15
        server:
          port: 8222
        spring:
          datasource:
            url: jdbc:h2:mem:orders_db
          jpa:
            show-sql: true
            hibernate:
              ddl-auto: create
            properties:
              hibernate:
                format_sql: true
          security:
            oauth2:
              resourceserver:
                jwt:
                  issuer-uri: https://dev-7858070.okta.com/oauth2/default
                  jwk-set-uri: https://dev-7858070.okta.com/oauth2/default/v1/keys
          cloud:
            function:
              definition: producer
            stream:
              kafka:
                binder:
                  brokers: 13.233.122.200:9092
              bindings:
                producer-out-0:
                  destination: orders-topic
        info:
          app:
            name: orders-api
            description: API for managing orders
            version: 1.0.0
        management:
          endpoints:
            web:
              exposure:
                include: "*"
          endpoint:
            health:
              show-details: "ALWAYS"
            circuitbreakers:
              enabled: true
          info:
            env:
              enabled: true
          health:
            circuitbreakers:
              enabled: true
            probes:
              enabled: true
        resilience4j:
          circuitbreaker:
            circuitBreakerAspectOrder: 1
            instances:
              inventoryservice:
                register-health-indicator: true
                ring-buffer-size-in-closed-state: 5
                ring-buffer-size-in-half-open-state: 3
                wait-duration-in-open-state: 30s
                failure-rate-threshold: 50
                record-exceptions:
                  - java.io.IOException
                  - java.util.concurrent.TimeoutException
                  - org.springframework.web.client.ResourceAccessException
                  - java.lang.IllegalStateException
                  - org.springframework.web.reactive.function.client.WebClientRequestException
          retry:
            retryAspectOrder: 2
            instances:
              retryConfig:
                maxAttempts: 2
                waitDuration: 2s
                enableExponentialBackoff: true
                exponentialBackoffMultiplier: 1
                retryExceptions:
                  - org.springframework.web.client.HttpServerErrorException
                  - java.io.IOException
                  - java.util.concurrent.TimeoutException
                  - java.net.ConnectException
                  - org.springframework.web.reactive.function.client.WebClientRequestException
    qa:
      enabled: false
      name: application-qa.yaml
      content: |-
        app:
          orderCount: 10
        server:
          port: 9222
        spring:
          datasource:
            url: jdbc:h2:mem:orders_db
          jpa:
            show-sql: true
            hibernate:
              ddl-auto: create
            properties:
              hibernate:
                format_sql: true

service:
  type: ClusterIP
  port: 80
  targetPort: 8222

ingress:
  enabled: false
  className: "nginx"
  host: pradeep.classpath.io
  annotations: {}
  

